[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyzmq = "*"
cogapp = "*"
enumecg = {git = "https://github.com/jasujm/enhanced-enum.git",subdirectory = "python"}

[packages]

[requires]
python_version = "3.7"
